body {
  font-family: 'Signika Negative', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 10px;
  /*set margin to zero to avoid the white edge around*/
  margin: 0;
}
.navbar ul {
	/*remove the default space for ul*/
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	font-size: 1.1rem;
	justify-content: flex-start;
	background: white;
}

.navbar li {
	padding: 1rem 3rem;
}

.introduction {
	display: flex;
	align-items: center;
	background: #EEEEEE;
}
.introduction div.container-lamp {
	width: 50vw;
	height: 60vh;
	border: solid 1px black;
}
span.text-bold {
	font-weight: 700;
	font-size: 2.5rem;
}

p {
	font-size: 1.5rem;
	letter-spacing: 1px;
} 

